@using FootballRefereeManagementSystem.Web.ViewModels.Match;
@using FootballRefereeManagementSystem.Web.ViewModels.Team;
@model MatchFormModel;
@{
    ViewData["Title"] = "Добавяне на мач";

    DateTime todaysDate = DateTime.UtcNow;
    DateTime nextYear = todaysDate.AddYears(1);
}

<div class="container">
    <h2>@ViewData["Title"]</h2>
    <hr class="col-4" />
    <form method="post" asp-area="Admin" asp-controller="Match" asp-action="Add">
        <div class="row visually-hidden">
            <input asp-for="SeasonId" class="form-control" />
        </div>

        <div class="row">
            <div class="form-group mb-3 col-3">
                <label asp-for="HomeTeamId" class="dropdown-header">Избор на домакин:</label>
                <span asp-validation-for="HomeTeamId" class="text-danger"></span>
                <select asp-for="HomeTeamId" class="dropdown-menu-start form-control">
                    @foreach (TeamListModel team in Model.Teams)
                    {
                        <option class="dropdown-item" value="@team.Id">@team.TeamName (@team.TeamLocation)</option>
                    }
                </select>
            </div>
        </div>

        <div class="row">
            <div class="form-group mb-3 col-3">
                <label asp-for="AwayTeamId" class="dropdown-header">Избор на гост:</label>
                <span asp-validation-for="AwayTeamId" class="text-danger"></span>
                <select asp-for="AwayTeamId" class="dropdown-menu-start form-control">
                    @foreach (TeamListModel team in Model.Teams)
                    {
                        <option class="dropdown-item" value="@team.Id">@team.TeamName (@team.TeamLocation)</option>
                    }
                </select>
            </div>
        </div>

        <div class="row">
            <div class="form-group mb-3 col-3">
                <div class="mb-3">
                    <label asp-for="@Model.FixtureTime" class="form-label h5">Край</label>
                    <input asp-for="@Model.FixtureTime" type="datetime-local" class="form-control" aria-required="true" min="@todaysDate.ToString("yyyy-MM-ddTHH:mm")" max="@nextYear.ToString("yyyy-MM-ddTHH:mm")" />
                    <span asp-validation-for="@Model.FixtureTime" class="text-danger"></span>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-success">Добави</button>
        <a class="btn btn-secondary" asp-area="Admin" asp-controller="Season" asp-action="SeasonPreparation">Отказ</a>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}