@using FootballRefereeManagementSystem.Web.ViewModels.Town;
@model TownQueryModel;
@{
    ViewData["Title"] = "Градове";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

<div class="container">
    <h2>@ViewData["Title"]</h2>
    <hr />
    <div class="row-cols-12 mt-3 mb-3">
        <a class="btn btn-success text-white" asp-area="Admin" asp-controller="Town" asp-action="Add"><i class="bi bi-plus-square me-2"></i>Добави</a>
    </div>

    <form method="get">
        <div class="row">
            <div class="form-group col-md-2 d-flex justify-content-between">
                <div class="form-group">
                    <label class="ms-2 text-secondary" asp-for="Zone">Зона:</label>
                    <select asp-for="Zone" class="form-control">
                        <option value="">Всички</option>
                        @foreach (var zone in Model.Zones)
                        {
                            <option value="@zone">@zone</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group col-md-3">
                <label class="ms-2 text-secondary" asp-for="SearchString">Търсене по име:</label>
                <input asp-for="SearchString" class="form-control" placeholder="...">
            </div>

            <div class="col-md-3">
                <div class="form-group mt-4">
                    <button type="submit" class="btn btn-info text-white border border-secondary"><i class="bi bi-search"></i></button>
                </div>
            </div>
        </div>
    </form>
    <br />
    <table class="table table-responsive table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Име на града</th>
                <th>Име на зона</th>
                <th class="text-center">Брой отбори</th>
                <th class="text-center">Брой мачове</th>
                <th class="text-center">Управление</th>
            </tr>
        </thead>
        <tbody>
            @{
                int rowCounter = 1;
                @foreach (TownViewModel town in Model.Towns)
                {
                    <tr>
                        <td>@rowCounter</td>
                        <td>@town.Name</td>
                        <td>@town.ZoneName</td>
                        <td class="text-center">@town.TeamsCount</td>
                        <td class="text-center">@town.MatchesCount</td>
                        <td class="text-center">
                            <a class="btn btn-warning border-1 border-dark me-3" asp-area="Admin" asp-controller="Town" asp-action="Edit" asp-route-id="@town.Id"><i class="bi bi-pencil-square"> Редактирай</i></a>
                            <a class="btn btn-danger border-1 border-dark me-3" asp-area="Admin" asp-controller="Town" asp-action="Delete" asp-route-id="@town.Id"><i class="bi bi-trash"> Изтрий</i></a>
                        </td>
                    </tr>

                    rowCounter++;
                }
            }
        </tbody>
    </table>
</div>