@using FootballRefereeManagementSystem.Web.ViewModels.Division;
@using FootballRefereeManagementSystem.Web.ViewModels.Team;
@model TeamSeasonEditModel;
@{
    ViewData["Title"] = "Редакция на регистриран отбор";
}

<div class="container">
    <h2>@ViewData["Title"]</h2>
    <hr class="col-4" />
    <h5>Редактиране на отбор за новия сезон</h5>
    <form method="post" asp-area="Admin" asp-controller="Team" asp-action="EditTeamSeason">
        <div class="row visually-hidden">
            <div class="form-group mb-3 col-3">
                <label asp-for="TeamId" class="dropdown-header">Избор на отбор:</label>
                <input asp-for="TeamId" class="form-control" />
            </div>
        </div>

        <div class="row">
            <div class="form-group mb-3 col-3">
                <label asp-for="TeamName" class="dropdown-header">Отбор:</label>
                <input asp-for="TeamName" class="form-control" disabled />
            </div>
        </div>

        <div class="row">
            <div class="form-group mb-3 col-3">
                <label asp-for="DivisionId" class="dropdown-header">За дивизия:</label>
                <span asp-validation-for="DivisionId" class="text-danger"></span>
                <select asp-for="DivisionId" class="dropdown-menu-start form-control">
                    @foreach (DivisionViewModel division in Model.Divisions)
                    {
                        <option class="dropdown-item" value="@division.Id">@division.Name</option>
                    }
                </select>
            </div>
        </div>

        <div class="row">
            <div class="form-group mb-3 col-3">
                <label asp-for="ShirtColor" class="dropdown-header">Цвят на екипите:</label>
                <select asp-for="ShirtColor" class="dropdown-menu-start form-control">
                    @foreach (string shirt in Model.ShirtColors)
                    {
                        <option class="dropdown-item" value="@shirt">@shirt</option>
                    }
                </select>
            </div>
        </div>

        <button type="submit" class="btn btn-warning">Редактирай</button>
        <a class="btn btn-secondary" asp-area="Admin" asp-controller="Season" asp-action="SeasonPreparation">Отказ</a>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}