@using FootballRefereeManagementSystem.Web.ViewModels.Career;
@model ApplicationViewModel;

<div class="card-title h4">Кандидат за съдия:</div>
<div class="card-body">
    <div class="card-text">
        <div class="card-subtitle h5 fst-italic mb-2">Основни данни:</div>
        <ul class="list-group">
            <li class="list-group-item"><span class="fw-bold me-2">Име:</span>@Model.FirstName</li>
            <li class="list-group-item"><span class="fw-bold me-2">Години:</span>@Model.Age</li>
            <li class="list-group-item"><span class="fw-bold me-2">Имейл:</span>@Model.EmailAddress</li>
            <li class="list-group-item"><span class="fw-bold me-2">Контакт:</span>@Model.ContactNumber</li>
        </ul>
        <br />
        <div class="card-subtitle h5 fst-italic mb-2">Допълнителна информация:</div>
        <ul class="list-group">
            <li class="list-group-item"><span class="fw-bold me-2">Опит:</span>@Model.Experience г.</li>
            <li class="list-group-item"><span class="fw-bold me-2">Подходящ за:</span>@Model.Role</li>
            <li class="list-group-item"><span class="fw-bold me-2">В дивизия:</span>@Model.Division</li>
        </ul>
    </div>
</div>