@using FootballRefereeManagementSystem.Web.ViewModels.News;
@model IEnumerable<ArticleViewModel>
@{
    ViewData["Title"] = "Новини";
}

<div class="container">
    <div class="row mt-2">
        <div class="col-md-10">
            <h1>Новини</h1>
        </div>
        <div class="col-md-2">
            <a class="btn btn-primary" asp-area="" asp-controller="News" asp-action="Add">Добави новина</a>
        </div>
    </div>

    @if (Model != null && Model.Any())
    {
        <div class="row">
            @foreach (var article in Model)
            {
                <div class="col-md-12 mb-4">
                    <div class="card">
                        @if (!string.IsNullOrEmpty(article.ImageUrl))
                        {
                            <img src="@article.ImageUrl" class="card-img-top" alt="Article Image" />
                        }
                        else
                        {
                            <img src="~/Images/Common/bfs-logo.png" width="80px" height="auto" alt="bfs">
                        }
                        <div class="card-body">
                            <h2 class="card-title">@article.Title</h2>
                            <p class="card-text">Автор: @article.AuthorName</p>
                            <p class="card-text">@article.CreatedOn</p>
                            <p class="card-text">@article.Content</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p>Няма новини.</p>
    }
</div>