@using FootballRefereeManagementSystem.Web.ViewModels.News;
@model IEnumerable<ArticleViewModel>
@{
    ViewData["Title"] = "Новини";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>
    
    <br />

    <div class="row mb-4">
        <div class="col-md-1">
            <label for="filter" class="dropdown-header">Сортирай:</label>
            <select id="filter">
                <option value="option1">Option 1</option>
                <option value="option2">Option 2</option>
                <option value="option3">Option 3</option>
            </select>
        </div>
        <div class="col-md-1">
            <label for="year" class="dropdown-header">Година:</label>
            <select id="year">
                @{
                    foreach (var year in Model.Select(m => m.CreatedOn.Year).Distinct().OrderByDescending(y => y))
                    {
                        <option value="@year">@year</option>
                    }
                }
            </select>
        </div>
        <div class="col-md-2 mt-3">
            <a class="btn btn-primary" asp-area="" asp-controller="News" asp-action="Add">Добави новина</a>
        </div>
    </div>

    <div class="card-columns">
        @if (Model != null && Model.Any())
        {
            @foreach (var article in Model)
            {
                <div class="card mb-2 mt-2">
                    @if (!string.IsNullOrEmpty(article.ImageUrl))
                    {
                        <img class="card-img-top" src="@article.ImageUrl" alt="Card image cap">
                    }
                    <div class="card-body">
                        <h5 class="card-title">@article.Title</h5> 
                        <p class="card-text">
                            <small class="text-muted">Дата: @article.CreatedOn.ToString("dd/MM/yyyy")</small>
                        </p>
                        <p class="card-text">@article.Content</p>
                        <p class="card-text">Автор: @article.AuthorName</p>
                    </div>
                </div>
            }
        }
        else
        {
            <p>Няма новини.</p>
        }
    </div>
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item disabled">
                <a class="page-link">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="#">2 <span class="visually-hidden">(current)</span></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</div>