@using FootballRefereeManagementSystem.Web.ViewModels.Referee;
@model IEnumerable<RefereeViewModel>
@{
    ViewData["Title"] = "Съдийски лист";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

<h2 class="text-center">Списък от регистрирани съдий</h2>
<hr />

<div class="row">
    <div class="col-md-2 border-end border-3 border-primary">
        <h5 class="text-center">Сортиране:</h5>
        <hr />
        <div class="row mb-3">
            <div class="col-5 offset-1">
                <label asp-for="@ViewData["Title"]" class="dropdown-header text-end">По име:</label>
            </div>
            <div class="form-group col-5">
                <select asp-for="@ViewData["Title"]" class="form-control">
                    <option value="0">А-Я</option>
                    <option value="1">Я-А</option>
                </select>
            </div>
        </div>
        
        <div class="row mb-3">
            <div class="col-5 offset-1">
                <label asp-for="@ViewData["Title"]" class="dropdown-header text-end">По стаж:</label>
            </div>
            <div class="form-group col-5">
                <select asp-for="@ViewData["Title"]" class="form-control">
                    <option value="0">Най-нови</option>
                    <option value="1">Най-стари</option>
                </select>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-5 offset-1">
                <label asp-for="@ViewData["Title"]" class="dropdown-header text-end">По брой мачове:</label>
            </div>
            <div class="form-group col-5">
                <select asp-for="@ViewData["Title"]" class="form-control">
                    <option value="0">Най-много</option>
                    <option value="1">Най-малко</option>
                </select>
            </div>
        </div>
    </div>
    <div class="container col-md-10">
        <table class="table table-responsive">
            <thead class="table-light">
                <tr class="d-table-row text-center">
                    <th scope="col">Име</th>
                    <th scope="col">Роля</th>
                    <th scope="col">Започнал</th>
                    <th scope="col">Брой мачове</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                @foreach (var referee in Model)
                {
                    <tr class="d-table-row text-center text-">
                        <td>@referee.FullName</td>
                        <td>@referee.Role</td>
                        <td>@($"{referee.CareerStart.ToString("dd-MM-yyyy")} г.")</td>
                        <td>@referee.TotalMatchesOfficiated</td>
                        <td class="text-start">
                            <a class="btn btn-sm btn-info btn-outline-dark" asp-controller="Referee" asp-action="Details" asp-route-id="@referee.Id">
                                <i class="bi bi-info-square-fill"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>