@using FootballRefereeManagementSystem.Web.ViewModels.RefereeSquad;
@model IEnumerable<RefereeSquadViewModel>;
@{
    ViewData["Title"] = "Седмичен наряд";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

<div class="container-fluid">
    <h1 class="text-center mb-2">Разписание на съдиите</h1>
    <hr />
    <div class="row">
        @if (Model.Any())
        {
            int counter = 1;
            @foreach (var squad in Model)
            {
                <div class="col-md-2 mb-3">
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">Бригада № @counter</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">@squad.MainRefereeFullName</li>
                                <li class="list-group-item">@squad.AssistantRefereeOneFullName</li>
                                <li class="list-group-item">@squad.AssistantRefereeTwoFullName</li>
                                <li class="list-group-item">@squad.DelegateFullName</li>
                            </ul>
                            <hr />
                            <div class="row card-text mb-3">
                                <div class="col-5 fw-bold">@squad.Match.HomeTeamName (@squad.Match.HomeTeamTown)</div>
                                <div class="col-2 text-secondary">vs</div>
                                <div class="col-5 fw-bold">@squad.Match.AwayTeamName (@squad.Match.AwayTeamTown)</div>
                            </div>
                            <p class="card-text"><i class="bi bi-calendar2-event"></i> @squad.Match.FixtureTime.ToString("dd-MMM-yyyy HH:mm")</p>
                            @{
                                int userRefereeId = (int)ViewData["UserRefereeId"]!;

                                if (Model.Any(rs => rs.RefereeIds
                                    .Any(id => id == userRefereeId)) ||
                                    User.IsInRole("Admin"))
                                {
                                    <a class="btn btn-primary btn-sm" asp-controller="Referee" asp-action="MatchCenter" asp-route-id="@squad.RefereeSquadId">
                                        Към мача <i class="bi bi-box-arrow-up-right"></i>
                                    </a>

                                    if (User.IsInRole("Admin"))
                                    {
                                        <a class="btn btn-warning btn-sm" asp-area="Admin" asp-controller="Referee" asp-action="EditSquad" asp-route-id="@squad.RefereeSquadId">
                                            Промени <i class="bi bi-pencil-square"></i>
                                        </a>
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
                counter++;
            }
        }
        else
        {
            <div class="col-md-12">
                <p class="text-center">Няма налични разписания на съдиите.</p>
            </div>
        }
    </div>
</div>