@model RefereeFormModel;
@{
    ViewData["Title"] = "Завърши регистрацията";
}

<div class="container">
    <h2 class="mb-2">@ViewData["Title"]</h2>
    <hr />
    <form asp-controller="User" asp-action="CompleteRegistration" method="post">
        <div class="row">
            <div class="form-group mb-3 col-3 me-1">
                <label asp-for="FirstName">Име:</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-group mb-3 col-3 me-1">
                <label asp-for="LastName">Фамилия:</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group mb-3 col-1 me-1">
                <label asp-for="Age">Години:</label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group mb-3">
                <label asp-for="ImageUrl">Линк на изображение:</label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group mb-2 col-4 me-1">
                <label asp-for="Contact">Контакт:</label>
                <input asp-for="Contact" class="form-control" />
                <span asp-validation-for="Contact" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="form-group mb-3">
                    <span class="fw-bold me-2">Роля:</span> @Model.StartingRole
            </div>
            <div class="form-group mb-3">
                <span class="fw-bold me-2">Дивизия:</span> @Model.StartingDivision
            </div>
        </div>

        <div class="row">
            <!-- Hidden fields for StartingRole, StartingDivision, and UserId -->
            <input type="hidden" asp-for="StartingRole" value="@Model.StartingRole" />
            <input type="hidden" asp-for="StartingDivision" value="@Model.StartingDivision" />
            <input type="hidden" asp-for="UserId" value="@Model.UserId" />
        </div>
        <button type="submit" class="btn btn-primary">Завърши регистрация</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}