@using FootballRefereeManagementSystem.Web.ViewModels.Season;
@model SeasonQueryModel
@{
    ViewData["Title"] = "Мачове";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="container">
    <!--Filter options-->
    <form method="get">
        <input id="last-selected-tab" type="hidden" asp-for="LastSelectedTab" />
        <div class="row mb-3">
            <div class="col-2">
                <select asp-for="SeasonFilter" class="form-control">
                    @foreach (string seasonOption in Model.SeasonsOptions)
                    {
                        <option value="@seasonOption">@seasonOption</option>
                    }
                </select>
            </div>
            <div class="col-4">
                <select asp-for="DivisionFilter" class="form-control">
                    @foreach (string divisionOption in Model.DivisionsOptions)
                    {
                        <option value="@divisionOption">@divisionOption</option>
                    }
                </select>
            </div>
            <div class="col-1">
                <button type="submit" class="bg-primary text-light mt-1"><i class="fa-solid fa-arrows-rotate"></i></button>
            </div>
        </div>
    </form>

    <!--Tab selection-->
    <div class="row justify-content-center">
        <ul class="nav nav-tabs mb-3" id="ex-with-icons" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link text-dark @(Model.LastSelectedTab == "Matches" ? "active" : string.Empty)" id="ex-with-icons-tab-1" data-mdb-toggle="tab" href="#ex-with-icons-tabs-1" role="tab"
                   aria-controls="ex-with-icons-tabs-1" aria-selected="@(Model.LastSelectedTab == "Matches" ? true : false)" onclick="updateQueryString('LastSelectedTab', 'Matches')">
                   <i class="fas fa-futbol"></i> Мачове
               </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link text-dark @(Model.LastSelectedTab == "Standings" ? "active" : string.Empty)" id="ex-with-icons-tab-2" data-mdb-toggle="tab" href="#ex-with-icons-tabs-2" role="tab"
                   aria-controls="ex-with-icons-tabs-2" aria-selected="@(Model.LastSelectedTab == "Standings" ? true : false)" onclick="updateQueryString('LastSelectedTab', 'Standings')">
                   <i class="fas fa-star"></i> Класиране
               </a>
            </li>
        </ul>
    </div>

    <!--Tab display-->
    <div class="tab-content" id="ex-with-icons-content">
        <div class="tab-pane fade @(Model.LastSelectedTab == "Matches" ? "show active" : string.Empty)" id="ex-with-icons-tabs-1" role="tabpanel" aria-labelledby="ex-with-icons-tab-1">
            <table class="table table-bordered table-responsive table-hover table-light">
                <tbody>
                    @foreach (var match in Model.Matches)
                    {
                        <tr>
                            <td>@($"{match.HomeTeam} ({match.HomeTeamTownName})")</td>
                            <td>@(match.FinalResult != null ? match.FinalResult : "-")</td>
                            <td>@($"{match.AwayTeam} ({match.AwayTeamTownName})")</td>
                            <td>@match.FixtureTime.ToString("MMM dd")</td>
                            <td>@match.FixtureTime.ToShortTimeString()</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade @(Model.LastSelectedTab == "Standings" ? "show active" : string.Empty)" id="ex-with-icons-tabs-2" role="tabpanel" aria-labelledby="ex-with-icons-tab-2">
            <table class="table table-bordered table-responsive table-hover table-light">
                <thead class="table-secondary">
                    <tr>
                        <th>Поз.</th>
                        <th>Отбор</th>
                        <th>ИМ</th>
                        <th>П</th>
                        <th>Р</th>
                        <th>З</th>
                        <th>ОГ</th>
                        <th>ДГ</th>
                        <th>ГР</th>
                        <th>T</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var team in Model.Standings)
                    {
                        <tr>
                            <td width="55px">@team.TeamPlacement</td>
                            <td>@($"{team.TeamName} ({team.TeamTownName})")</td>
                            <td width="65px">@team.MatchesPlayed</td>
                            <td width="65px">@team.Wins</td>
                            <td width="65px">@team.Draws</td>
                            <td width="65px">@team.Losses</td>
                            <td width="65px">@team.GoalsFor</td>
                            <td width="65px">@team.GoalsAgainst</td>
                            <td width="65px">@team.GoalDifference</td>
                            <td width="65px" class="fw-bold text-danger">@team.TeamPoints</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.9.0/mdb.min.js"></script>
    <script src="~/js/last-tab-handler.js"></script>
}